.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.618em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-indent: 2em;
    margin: 1em 0
    }
.calibre2 {
    display: block
    }
.calibre3 {
    display: block;
    line-height: 1.2
    }
.calibre4 {
    display: block;
    font-size: 1em;
    line-height: 1.618em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre5 {
    color: #00C
    }
.calibre6 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre7 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0.83em 0
    }
.calibre8 {
    line-height: 1.2
    }
.calibre9 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    text-align: left;
    text-indent: 0;
    margin: 1em 0
    }
.calibre10 {
    display: block;
    font-weight: bold;
    text-align: left;
    text-indent: 2em;
    margin: 1.33em 0
    }
.calibre11 {
    display: list-item
    }
.empty {
    display: block;
    margin-bottom: 2.2em;
    margin-top: 2.2em
    }
.kindle-cn-blockquote {
    background: #f9f9f9;
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    line-height: 1.5em;
    text-indent: 2em;
    padding: 0.5em;
    margin: 1.5em;
    border-left: #ccc solid 0.5em
    }
.kindle-cn-bodycontent-div-alone {
    display: block;
    text-align: center;
    width: 100%
    }
.kindle-cn-bodycontent-image-alone {
    height: auto;
    margin-top: 0.3em;
    width: 80%
    }
.kindle-cn-bodycontent-image-alone50-withnote {
    height: auto;
    margin-bottom: 0;
    width: 50%
    }
.kindle-cn-bodycontent-image-alone80-withnote {
    height: auto;
    margin-bottom: 0;
    width: 80%
    }
.kindle-cn-bold {
    font-weight: bold
    }
.kindle-cn-bold1 {
    display: block;
    font-weight: bold;
    text-indent: 2em;
    margin: 1em 0
    }
.kindle-cn-copyright-text {
    display: block;
    line-height: 1.618em;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-copyright-text1 {
    display: block;
    line-height: 1.618em;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-copyright-text2 {
    display: block;
    font-weight: bold;
    line-height: 1.618em;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-heading {
    display: block;
    font-family: "MYing Hei S", Hei;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    padding: 0.75em 0;
    margin: 0.67em 0;
    border-top: #c7c7c7 dashed 2px;
    border-bottom: #c7c7c7 dashed 2px
    }
.kindle-cn-italic {
    font-style: italic
    }
.kindle-cn-para-2em-indent {
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    text-indent: 2em;
    margin: 1em 0 1em 2em
    }
.kindle-cn-para-center {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-para-center1 {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-para-no-indent {
    display: block;
    font-weight: bold;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-picture-txt-withfewcharactors {
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 0.75em;
    text-align: center;
    text-indent: 0;
    margin: 0.3em 0 1em
    }
.kindle-cn-picture-txt-withfewcharactors1 {
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 0.3em 0 1em
    }
.kindle-cn-picture-txt-withmanycharactors {
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 0.75em;
    text-align: left;
    text-indent: 0;
    margin: 0.3em 0 1em
    }
.kindle-cn-signature {
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    text-align: right;
    text-indent: 2em;
    margin: 1em 0
    }
.kindle-cn-toc-level {
    display: block;
    margin-left: 0
    }
.kindle-cn-toc-level1 {
    display: block
    }
.kindle-cn-toc-title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1em;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0 0.5em;
    border-bottom: #000 dotted 1.5px
    }
.kindle-cn-ul-disc {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.math-super {
    font-size: 0.75em;
    vertical-align: super
    }
.smy-cbs {
    display: block;
    font-family: hei;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.2;
    margin-top: 6em;
    text-align: center
    }
.smy-csm {
    display: block;
    font-family: hei;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center
    }
.smy-sm {
    display: block;
    font-family: hei;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 2em;
    text-align: center
    }
.smy-zz {
    display: block;
    font-family: hei;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 1em;
    text-align: center
    }
